#aside-cart {
    margin: 5px 4vw;
}

#header-cart {
    border: none;
    background-color: #27ae60;
    color: white;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    font-size: 10pt;
}

#cart-ul {
    height: 19vh;
    overflow-y: scroll;
}